
* {
   padding: 0;
   margin: 0;
}

body {
    font-family: fantasy;
}

.center {
    position: absolute;
    left: 50%;
    top:  50%;
    transform: translate(-50%, -50%);
}

.awesome {

    color: aquamarine;
}

.box {
   width: 100px; 
   height: 100px;
   background-color: pink;
   margin: 10px;
}